body{
    background-color: black;
    /* background-image:url(images/giphy.gif);
    background-repeat:repeat;  */


    background-image: url(images/onepiece.jpg);
        
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
        
    background-size: cover;

}

header{
    position: sticky; top: 0;

    background: linear-gradient(to right, rgb(255, 15, 215), rgb(27, 255, 65));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;

}

.sticky {
    position: sticky;
    top: 0;
    z-index:2;
  
  }


.navbar{
    display: flex;
    color: black;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.navbar a{
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
}

.title{
    color: black;
    font-size: 35px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

#toptitle{
    font-size: 35px;

}

.items:hover{
    background-color: whitesmoke;
    opacity: 0.5;
}

.logo:hover{
    width: 110px;
}

.home{
    display: flex;
    justify-content: center;
    padding: 50px;

}


.homeimage2{
    width: 550px;
    padding: 50px;
}

.homeBOX{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    background-color: black;
    border:10px rgb(255, 0, 212) solid;
    display: inline-block;
    background-size: cover;
}

.homeBOX2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    width: 800px;
    padding: 20px;
    background-color: black;
    border:10px rgb(0, 255, 0) solid;
    display: inline-block;
    background-size: cover;
}

.homeBOX2 a{
    text-decoration: none;
    text-align: center;
    color: rgb(9, 255, 0);
}


/* class is . */
.green{ 
    color: rgb(9, 255, 0);
}

.pink{
    color: rgb(255, 0, 212);
}


.homeBOX3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    width: 800px;
    padding: 20px;
    background-color: black;
    border:10px rgb(145, 145, 145) solid;
    display: inline-block;
    background-size: cover;
}

.homeBOX3 a{
    text-decoration: none;
    text-align: center;
    color: rgb(255, 0, 140);
}


#homeTEXT{
    font-size: 30px;


}

@media(max-width:1030px){
    header{
        background-color: red;
    }
    p{
        font-size:70%;
    }
    #toptitle{
        font-size: 90%;
    }

    a{
        font-size: 50%;

    }
    .logo{
        width: 60px;
        height: 60px;
    }
    .navbar{
        justify-content: space-around;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}